<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BinhNT_Lab1_Screen_3"
        tools:targetApi="31">
        <activity
            android:name=".MainActivityLab1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityLab2"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivityLab3"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivityScreen3"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen1"
            android:exported="false">

        </activity>
        <activity
            android:name=".MainActivityScreen2"
            android:exported="false">

        </activity>
        <activity
            android:name=".MainActivityScreen4"
            android:exported="false">

        </activity>
        <activity
            android:name=".MainActivityScreen5"
            android:exported="false">

        </activity>
        <activity
            android:name=".MainActivityLab2Screen1"
            android:exported="false">

        </activity>
        <activity
            android:name=".MainActivityLab2Screen2"
            android:exported="false">

        </activity>
        <activity
            android:name=".MainActivityLab2Screen3"
            android:exported="false">

        </activity>
        <activity
            android:name=".SignInActivityLab2Screen3"
            android:exported="false">

        </activity>
        <activity
            android:name=".SignUpActivityLab2Screen3"
            android:exported="false">

        </activity>
        <activity
            android:name=".binhnt_lab3_screen_4.FootballerDisplayActivityLab3Screen4"
            android:label="@string/app_name"
            android:exported="true" />
        <activity
            android:name=".binhnt_lab3_screen_4.MainActivityLab3Screen4"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".binhnt_lab3_screen_3.CakeDisplayActivityLab3Screen3"
            android:label="@string/app_name"
            android:exported="true" />
        <activity
            android:name=".binhnt_lab3_screen_3.MainActivityLab3Screen3"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".MainActivityLab3Screen2"
            android:exported="false">
        </activity>
        <activity
            android:name=".MainActivityLab3Screen1"
            android:exported="false">
        </activity>
    </application>

</manifest>